# MQTT client
CAFILE = "./certificates/AmazonRootCA1.pem"
CERTFILE = "./certificates/certificate.pem.crt"
KEYFILE = "./certificates/private.pem.key"
MQTT_ENDPOINT = "<AWS IoT MQTT Broker endpoint>"
MQTT_PORT = "8883"
MQTT_IDENTITY = "temperature-sensor"
PUB_TOPIC = 'xchange_2019/iot_alarm_app/measurements'

# ThingsBoard
THINGSBOARD_HOST="demo.thingsboard.io"
ACCESS_TOKEN="<Access token>"
